<!DOCTYPE html>
<html>
<head>
    <title>Cyber Toolkit</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white">

    <div class="min-h-screen flex flex-col items-center justify-center">

        <h1 class="text-4xl font-bold mb-8 text-green-400">
            Cybersecurity Toolkit
        </h1>

        <div class="grid gap-6 w-80">

            <a href="/port" class="bg-gray-800 p-6 rounded-xl shadow-lg hover:bg-green-500 transition">
                <h2 class="text-xl font-semibold">🔍 Port Scanner</h2>
                <p class="text-gray-400 mt-2">Scan open ports of a target</p>
            </a>

            <a href="/password" class="bg-gray-800 p-6 rounded-xl shadow-lg hover:bg-blue-500 transition">
                <h2 class="text-xl font-semibold">🔐 Password Checker</h2>
                <p class="text-gray-400 mt-2">Analyze password strength</p>
            </a>

        </div>

    </div>

</body>
</html>